/*
=================================
	TOP SECTION
=================================
*/
.top-section {
	position: relative;
	margin-top: -188px;
	color: $c1;
	overflow: hidden;

	h1,
	ul,
	.btn {
		position: relative;
	}

	h1,
	ul,
	.btn,
	.top-section__download {
		z-index: 2;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $c4 url(../img/bg-2.svg) no-repeat 100% 38px;
		clip-path: polygon(100% 0, 100% mp(320, 690), calc((100vw - 1060px) / 2 + 60%) 100%, 0 87%, 0 0);
	}

	.container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		padding-top: 124px;
		padding-bottom: 132px;

		&:after {
			content: '';
			position: absolute;
			bottom: 75px;
			right: mp(138, 1060);
			width: 390px;
			height: 390px;
			background-color: $c1;
			border-radius: 50%;
			filter: blur(250px);
		}
	}

	h1 {
		margin-bottom: 28px;
		color: $c3;
	}

	.btn {
		width: calc(min(184px, 100%));
	}

	ul {
		li {
			font-size: fsz(14, 12);

			&:before {
				top: 7px;
				background-color: $c1;
			}
		}
	}
}

.top-section__img {
	position: absolute;
	top: 140px;
	right: mp(140, 1060);
	z-index: 1;

	img {
		width: auto;
		max-height: calc(100vh - 200px);
	}
}

.top-section__download {
	position: absolute;
	right: 0;
	bottom: 45px;
	text-align: right;

	img+strong {
		margin-top: 14px;
	}

	strong {
		display: block;
		font-weight: 700;
		line-height: 1.2;
		color: $cb;
		@include trs-all;

	}

	&:hover {
		text-decoration: none;

		strong {
			color: $c3;
		}
	}
}

@media (min-width: 769px) {
	.top-section {
		ul {
			max-width: 330px;
			margin-left: -20px;
		}
	}
}

@media (min-width: 1091px) {
	.top-section {
		.container {
			padding-left: 85px;
		}
	}
}

@media (min-width: 1380px) {
	.top-section {
		&:after {
			clip-path: polygon(100% 0, 100% 35%, 70% 100%, 0 87%, 0 0);
		}
	}
}

@media (min-width: 1500px) {
	.top-section {
		&:after {
			clip-path: polygon(100% 0, 100% 25%, 65% 100%, 0 87%, 0 0);
		}
	}
}

@media (min-width: 1500px) {
	.top-section {
		&:after {
			clip-path: polygon(100% 0, 100% 25%, 60% 100%, 0 87%, 0 0);
		}
	}
}

@media (max-width: 1200px) {
	.top-section {
		margin-top: -105px;

		.container {
			padding-top: 72px;
			padding-bottom: 80px;
		}
	}

	.top-section__img {
		top: 80px;
		right: 40px;
	}
}

@media (max-width: 1090px) {
	.top-section {
		.container {
			&:after {
				bottom: 50px;
				right: 50px;
			}
		}
	}

	.top-section__download {
		right: 50px;
		bottom: 0;
	}
}

@media (max-width: 768px) {
	.top-section {

		h1,
		.btn {
			margin-left: 20px;
		}

		.container {
			&:after {
				right: 40px;
			}
		}

		&:after {
			background-size: contain;
		}
	}
}

@media (max-width: 576px) {
	.top-section {
		&:after {
			clip-path: polygon(100% 0, 100% calc(100% - 160px), 113px 100%, 0 87%, 0 0);
		}

		.container {
			&:after {
				bottom: auto;
				top: 50%;
				right: auto;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 360px;
				height: 360px;
				filter: blur(200px);
			}
		}
	}

	.top-section__img {
		max-width: calc(100% - 40px);
		right: 20px;

		img {
			max-height: calc(100vh - 250px);
		}
	}

	.top-section__download {
		right: 20px;

		strong {
			font-size: fsz(10, 12);
		}
	}
}

@media (max-width: 360px) {
	.top-section__img {
		max-width: calc(100% - 30px);
		right: 15px;
	}
}

/*
=================================
	ABOUT
=================================
*/
.about {
	position: relative;

	h2 {
		span {
			position: relative;
			display: inline-block;

			svg {
				position: absolute;
				top: 7px;
				left: -15px;
				width: 45px;
				height: 44px;
				fill: currentColor;
			}
		}
	}
}

.about__img {
	position: absolute;
}

.about h2 span {
	padding-left: 45px;
}

.about__content {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 70px mp(70, 1060);

	&+.about__content {
		padding-top: 65px;
	}

	.video-wrapper,
	p:last-child,
	ul:last-child {
		margin-bottom: 0;
	}
}

.about__content-style-1 {
	align-items: center;
}

@media (min-width: 769px) {
	.about__content {
		>div:first-child {
			padding-left: 45px;
		}

		ul {
			margin-left: -20px;
		}
	}

	.about__img {
		top: calc(50% + 10px);
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 1091px) {
	.about {
		h2 {
			margin-bottom: 2px;
		}
	}
}

@media (max-width: 1090px) {
	.about__content {
		gap: 70px mp(50, 970);
	}
}

@media (max-width: 768px) {
	.about__content {
		grid-template-columns: 1fr;
		gap: 35px 0;

		h3 {
			padding-left: 20px;
		}
	}

	.about__img {
		top: 0;
		left: 0;
	}
}

/*
=================================
	PRODUCTS
=================================
*/
.products {
	padding-top: 58px;
	padding-bottom: 107px;
	background-color: $c4;

	h2 {
		color: $c1;
		text-align: center;
	}
}

.products-list {
	a {
		display: block;
		height: 100%;

		&:hover {
			text-decoration: none;
		}
	}

	.list-img,
	.list-img-2 {
		padding-top: 60.73%;
	}

	.list-img-2 {
		div {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	strong {
		display: block;
		font-weight: 900;
		line-height: 1.2;
		@include trs;
	}
}

.products-list-1 {
	.list-img {
		&+strong {
			margin-top: 16px;
		}
	}

	strong {
		font-size: fsz(14, 12);
		color: $c1;
		text-align: center;
	}

	a {
		&:hover {
			strong {
				color: $c3;
			}
		}
	}
}

.products-list-2 {
	a {
		font-size: 1rem;
	}

	.list-img,
	.list-img-2 {
		&+strong {
			margin-top: 8px;
		}
	}

	strong,
	p {
		padding-left: mp(20, 247);
		padding-right: mp(20, 247);
	}

	strong {
		color: $c3;

		&+p {
			margin-top: 5px;
		}
	}

	p {
		color: $cb;

		span {
			display: inline-block;
			font-size: fsz(16, 12);
			font-weight: 900;
			line-height: 1;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		&:hover {
			strong {
				color: $cb;
			}
		}
	}
}

@media (max-width: 1024px) {
	.products-list-2 {

		strong,
		p {
			padding-left: mp(20, 298);
			padding-right: mp(20, 298);
		}
	}
}

@media (max-width: 768px) {
	.products {
		padding-top: 65px;
		padding-bottom: 67px;
	}

	.products-list-1 {
		strong {
			font-size: 1rem;
		}
	}
}

@media (max-width: 576px) {
	.products-list-2 {

		strong,
		p {
			padding-left: mp(20, 258);
			padding-right: mp(20, 258);
		}
	}
}

@media (max-width: 415px) {
	.products-list-1 {
		.list-img+strong {
			margin-top: 10px;
		}

		strong {
			font-size: fsz(10, 12);
		}
	}

	.products-list-2 {
		a {
			font-size: fsz(10, 12);
		}

		p {
			span {
				font-size: fsz(14, 12);
			}
		}

		strong,
		p {
			padding-left: mp(20, 178);
			padding-right: mp(20, 178);
		}
	}
}

@media (max-width: 360px) {
	.products-list-2 {

		strong,
		p {
			padding-left: mp(15, 158);
			padding-right: mp(15, 158);
		}
	}
}

@media (max-width: 320px) {
	.products-list-2 {
		p {
			span {
				font-size: 1rem;
			}
		}

		strong,
		p {
			padding-left: mp(15, 138);
			padding-right: mp(15, 138);
		}
	}
}

/*
=================================
	ORDER
=================================
*/
.order {

	h2,
	h2+p {
		text-align: center;
	}

	h2 {
		margin-bottom: 15px;
	}

	p+.order-form {
		padding-top: 45px;
	}
}

.order-form {
	display: flex;
	gap: 50px 24px;

	[data-tooltip] {
		position: relative;

		span,
		svg {
			position: absolute;
		}

		span {
			top: 0;
			left: 5px;
			right: 0;
			padding: 9px 10px 7px 10px;
			font-size: fsz(10, 12);
			line-height: 1.2;
			color: $c1;
			border-radius: 5px 5px 5px 0;
			background-color: $cb;
			opacity: 0;
			pointer-events: none;
			@include trs-all;

			&.visible {
				opacity: 1;
				pointer-events: auto;
			}
		}

		svg {
			left: -5px;
			top: -5px;
			width: 10px;
			height: 10px;
			fill: $cb;
			cursor: pointer;
		}
	}

	.list-5+.list-5 {
		margin-top: 30px;
	}

	.list-7 {
		p {
			font-size: fsz(10, 12);
			line-height: 1.3;
			text-align: right;

			a {
				display: inline-block;
				font-weight: 700;
				color: $cb;

				&:hover {
					text-decoration: none;
					color: $c3;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.desktop-user-agent {
	.order-form {

		.choices__list--dropdown,
		.choices__list[aria-expanded] {
			width: calc(100% + 50px);
			left: auto;
			right: 0;
		}

		[data-tooltip] span {
			width: 400px;

			&.position-right {
				left: auto;
				right: 0;
			}

			&.position-left {
				left: 5px;
				right: 0;
			}

			&.width-full {
				width: 100%;
			}
		}
	}
}

.order-form__content {
	position: relative;
	margin-bottom: 38px;
	padding: 24px;
	background-color: $c7;
	border: 1px solid rgba($c8, 0.5);
}

.order-form__delete-item {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: $cb;
	cursor: pointer;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25px;
		height: 25px;
		fill: currentColor;
		@include trs-all;
	}

	&:hover {
		color: $c3;
	}
}

.order-form__aside {
	flex: none;
	width: calc(min(300px, 100%));

	label {
		text-align: right;

		strong {
			display: inline-block;
			font-weight: 700;
		}
	}
}

.order-form__main {
	flex-grow: 1;

	label {

		strong,
		span {
			display: block;
			text-align: right;
		}
	}
}

@media (min-width: 416px) {
	.order-form__main {
		label {
			span {
				font-size: fsz(10, 12);
			}
		}
	}
}

.order-form__add {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;


	label,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
		padding-left: 10px;
		padding-right: 10px;
		font-size: fsz(10, 12);
	}

	label {
		margin-bottom: 10px;
	}
}

.order-form__add-new-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	span {
		display: inline-block;
		padding-left: 25px;
		line-height: 1.2;

		svg {
			width: 10px;
			height: 10px;
		}
	}
}

@media (min-width: 1091px) {
	.order-form__content {
		margin-bottom: 38px;
	}
}

@media (max-width: 1090px) {
	.order-form {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 1024px) {
	.order-form {
		gap: 38px 0;
	}

	.order-form__aside {
		margin-bottom: 0;
	}

	.order p+.order-form {
		padding-top: 21px;
	}
}

@media (max-width: 640px) {
	.order-form__aside {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.order-form__content {
		padding: 20px;
	}
}

@media (max-width: 415px) {
	.order-form {
		label {
			padding-left: 10px;
			padding-right: 1px;
		}
	}

	.order-form__add {
		label {
			margin-bottom: 5px;
		}
	}

	.order-form__aside label,
	.order-form__main label strong,
	.order-form__main label span {
		text-align: left;
	}
}

@media (max-width: 360px) {
	.order-form__content {
		padding: 15px;
	}

	.order-form .list-7 p {
		text-align: center;
	}
}

/*
=================================
	CERTIFICATES
=================================
*/
.certificates-slider__item {
	cursor: zoom-in;
}

.certificates__add {
	display: flex;
	gap: 20px 15px;
	align-items: center;
	margin-bottom: 42px;


	h2 {
		margin-bottom: 0;
	}

	.slider-btn {
		&:not(:last-child) {
			margin-right: 2px;
		}
	}
}

@media (min-width: 416px) {
	.certificates__add {
		justify-content: space-between;
	}

	.certificates-slider__item .list-img {
		padding-top: 142.295%;
	}
}

@media (min-width: 1025px) {
	.certificates__add {
		padding-left: 45px;
		padding-right: 15px;
	}
}

@media (max-width: 576px) {
	.certificates__add {
		flex-direction: column;
		margin-bottom: 26px;
	}

	.certificates-slider__item .list-img {
		padding-top: 125%;
	}
}

/*
=================================
	BLOG
=================================
*/
.blog {
	h2 {
		text-align: center;
	}
}

.blog__list {

	a,
	strong,
	span {
		display: block;
	}

	a {
		height: 100%;
		color: $cb;

		&:hover {
			text-decoration: none;

			strong {
				color: $c3;
			}
		}
	}

	.list-img-2 {
		padding-top: 66.11%;

		>div {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&+div {
			padding: 18px mp(24, 337) 0 mp(24, 337);
		}
	}

	strong {
		font-size: fsz(20, 12);
		font-weight: 900;
		line-height: 1.2;
		@include trs-all;

		&+span {
			margin-top: 16px;
			font-size: fsz(10, 12);
			font-weight: 300;
			line-height: 1;
		}
	}
}

@media (max-width: 1024px) {
	.blog__list {
		.list-img-2 {
			&+div {
				padding: 13px mp(15, 299) 0 mp(15, 299);
			}
		}

		strong {
			font-size: fsz(16, 12);

			+span {
				margin-top: 12px;
			}
		}
	}
}

@media (max-width: 640px) {
	.blog__list {
		.list-img-2 {
			&+div {
				padding-left: mp(15, 285);
				padding-right: mp(15, 285);
			}
		}

		strong {
			font-size: fsz(16, 12);

			+span {
				margin-top: 12px;
			}
		}
	}
}

@media (max-width: 415px) {
	.blog__list {
		.list-img-2 {
			&+div {
				padding-left: mp(15, 178);
				padding-right: mp(15, 178);
			}
		}

		strong {
			font-size: fsz(14, 12);

			+span {
				font-size: fsz(8, 12);
			}
		}
	}
}

@media (max-width: 320px) {
	.blog__list {
		.list-img-2 {
			&+div {
				padding-left: mp(15, 138);
				padding-right: mp(15, 138);
			}
		}

		strong {
			font-size: 1rem;
		}
	}
}

/*
=================================
	CONTENT
=================================
*/
.info {

	ul,
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/*
=================================
	PRODUCT DETAILS
=================================
*/
.product-details {
	h1 {
		margin-bottom: 17px;
		color: $c3;
	}
}

.product-details {
	display: flex;
}

.product-details__info {
	display: flex;
	gap: 10px mp(45, 425);
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 33px;

	p {
		line-height: 1;

		strong {
			display: inline-block;
			margin-right: 5px;
			font-size: fsz(20, 12);
			font-weight: 900;
			line-height: 1;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.btn {
		span {
			position: relative;
			display: inline-block;
			padding-left: 20px;

			svg {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 12px;
				height: 11px;
				fill: currentColor;
			}
		}
	}
}

.desktop-user-agent {
	.product-details-slider__item {
		cursor: zoom-in;
	}
}

.mobile-user-agent {
	.product-details-slider__item {
		cursor: pointer;
	}
}

.product-details-slider__item {
	.list-img {
		padding-top: 60.105%;
	}

	&:hover {
		text-decoration: none;
	}
}

.product-details-slider {
	.slider-btn--prev {
		left: 13px;
	}


	.slider-btn--next {
		right: 13px;
	}
}

@media (min-width: 1025px) {
	.product-details {
		gap: 0 mp(45, 1060);
	}

	.product-details__aside {
		flex: none;
		width: mp(590, 1060);
		padding-left: 16px;
	}

	.product-details__main {
		order: 1;
		flex-grow: 1;
		padding-right: 20px;
	}
}

@media (max-width: 1024px) {
	.product-details {
		flex-direction: column;
		gap: 33px 0;
		align-items: center;

		h1,
		.product-details__info {
			display: none;
		}
	}

	.product-details__aside {
		width: calc(min(590px, 100%));

		h1 {
			display: block;
		}

		.product-details__info {
			display: flex;
			margin-bottom: 35px;
		}
	}

	.product-details__main {
		order: 1;
	}

	.product-details__content {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 415px) {
	.product-details__info {
		gap: 10px 20px;

		p {
			strong {
				font-size: fsz(18, 12);
			}
		}
	}
}

/*
=================================
	GALLERY
=================================
*/
.gallery {
	>div {
		cursor: zoom-in;
	}

	.list-img {
		padding-top: 65%;
	}
}
