footer {
	.container {
		padding-top: 54px;
		padding-bottom: 35px;
	}

	ul {
		margin-bottom: 0;
	}

	.contacts-wrapper+.list-style-1 {
		margin-top: 11px;
	}


}

.logo-mico strong,
.copyright {
	display: block;
	font-size: fsz(8, 12);
	font-weight: 300;
	line-height: 1;
}

.logo-mico {
	display: inline-block;
	color: $c10;

	strong,
	svg {
		@include trs-all;
	}

	strong {
		margin-bottom: 4px;
		color: $c2;
	}

	svg {
		fill: currentColor;
	}

	&:hover {
		text-decoration: none;
		color: $c9;

		strong {
			color: $c9;
		}
	}
}

.footer__logo-company+.copyright {
	margin-top: 15px;
}

.copyright {

	color: $c1;
}

@media (min-width: 416px) {
	footer {
		.contacts-wrapper {
			div {
				&:not(:last-child) {
					margin-right: 41px;
				}
			}
		}
	}
}

@media (min-width: 1201px) {
	footer {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: calc((100vw - 1090px) / 2 + 105px);
			right: 0;
			height: 100%;
			background-color: $c4;
			clip-path: polygon(220px 0%, 100% 75px, 100% 100%, 0% 100%);
		}

		.container {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: flex-start;

			>div {
				&:first-child {
					flex-grow: 1;
				}

				&:last-child {
					flex: none;
					order: -1;
					width: 300px;
					padding-top: 10px;
				}
			}
		}
	}

	.footer__content {
		>div {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 56px;
			}

			&:last-child {
				padding-top: 36px;
			}
		}
	}

	.copyright {
		padding-left: 70px;
	}
}

@media (max-width: 1200px) {
	footer {
		clip-path: polygon(128px 0%, 100% 60px, 100% 100%, 0 100%, 0 30px);
		background-color: $c4;
		text-align: center;

		.container {
			padding-top: 60px;
			padding-bottom: 60px;

			>div+div {
				margin-top: 28px;
			}
		}

		.contacts-wrapper+.list-style-1 {
			margin-top: 36px;
		}

		.list-style-1 {
			li {
				margin-bottom: 10px;
			}
		}
	}

	.footer__content {
		>div+div {
			margin-top: 37px;
		}
	}

	.copyright {
		display: none;
	}

	.logo-mico {
		color: $c1;

		strong {
			text-align: left;
			color: $c1;
		}

		&+.copyright {
			display: block;
			margin-top: 39px;
		}
	}
}

@media (max-width: 415px) {
	footer {
		.contacts-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 17px 20px;
		}
	}
}
