header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		overflow-y: hidden;
	}

	&.init {
		.container {
			height: auto;
			overflow-y: visible;
		}
	}

	ul {
		margin-bottom: 0;
	}
}

.logo-company {
	display: inline-block;
}

@media (min-width: 1201px) {}

@media (max-width: 1200px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;
		width: 100%;
		background-color: $c3;

		.container {
			height: 70px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.toggle-wrapper,
	.toggle-btn {
		position: relative;
		width: 20px;
		height: 20px;
		display: inline-block;
	}

	.toggle-wrapper {
		vertical-align: middle;

		.header__nav,
		.header__phones-wrapper,
		.header__address {
			display: block;

		}
	}

	.toggle__content {
		position: fixed;
		top: 70px;
		right: 0;
		width: calc(min(300px, 100%));
		bottom: 0;
		z-index: 998;
		opacity: 0;
		visibility: hidden;
		transform: scaleY(0);
		transform-origin: top;
		background-color: $c1;
		@include trs-all;

		>div {
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 17px 15px 35px 15px;
			text-align: center;
			overflow-y: auto;

		}

		&.content-visible {
			opacity: 1;
			visibility: visible;
			transform: scaleY(1);
		}
	}

	.toggle-btn {
		position: relative;
		top: 1px;
		padding: 0;
		vertical-align: top;
		overflow: hidden;
		cursor: pointer;

		span {
			position: absolute;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $c1;
			@include trs;

			&:first-child {
				top: 0;
				left: auto;
				right: 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 9px;
			}

			&:nth-child(4) {
				bottom: 0;
			}
		}
	}

	.toggle-btn-style {
		span {

			&:first-child,
			&:nth-child(4) {
				background-color: transparent;
			}

			&:nth-child(2),
			&:nth-child(3) {
				background-color: $c15;
			}

			&:first-child {
				transform: translateX(40px);
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				transform: translateX(-40px);
			}
		}
	}
}
