.list-1,
.list-2,
.list-4 {
	display: grid;
}

.list-1 {
	grid-template-columns: repeat(4, 1fr);
	gap: 76px 24px;
}

.list-2 {
	grid-template-columns: repeat(4, 1fr);
	gap: 62px 24px;
}

.list-4 {
	grid-template-columns: repeat(3, 1fr);
	gap: 50px 24px;
}
