.list-1,
.list-2,
.list-3,
.list-4,
.list-5,
.list-6,
.list-7,
.list-8 {
	display: grid;
}

.list-1 {
	grid-template-columns: repeat(4, 1fr);
	gap: 76px 24px;
}

.list-2 {
	grid-template-columns: repeat(4, 1fr);
	gap: 62px 24px;
}

.list-3 {
	grid-template-columns: 65px 1fr;
	gap: 20px 12px;
	align-items: center;

	>div {
		&:last-child {
			grid-column: 1/span 2;
		}
	}
}

.list-4,
.list-8 {
	grid-template-columns: repeat(3, 1fr);
}

.list-4 {
	gap: 50px 24px;
}

.list-5,
.list-6 {
	gap: 8px 16px;
}

.list-5,
.list-7 {
	align-items: center;
}

.list-5 {
	grid-template-columns: 1fr minmax(170px, 1fr) minmax(130px, 1fr) 33.53%;
}

.list-6 {
	grid-template-columns: repeat(3, 1fr) 16.765% 16.765%;
	gap: 8px 16px;
}

.list-7 {
	grid-template-columns: 170px 1fr 286px;
	gap: 16px;
}

.list-8 {
	gap: 24px;
}

@media (max-width: 1024px) {

	.list-1,
	.list-2 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {

	.list-1,
	.list-2 {
		gap: 33px 24px;
	}

	.list-5,
	.list-6 {
		gap: 16px;
	}

	.list-5 {
		grid-template-columns: 1fr minmax(175px, 1fr) 1fr minmax(175px, 1fr);
	}

	.list-6 {
		grid-template-columns: repeat(3, 1fr);
	}

	.list-7 {
		grid-template-columns: 170px 1fr 200px;
	}
}

@media (max-width: 640px) {

	.list-1,
	.list-2,
	.list-4,
	.list-8 {
		grid-template-columns: repeat(2, 1fr);
	}

	.list-3,
	.list-5 {
		grid-template-columns: 140px 1fr;
	}

	.list-1,
	.list-2,
	.list-4 {
		gap: 38px 20px;
	}

	.list-3 {
		gap: 16px;
	}

	.list-5 {
		grid-template-columns: 140px 1fr;
	}

	.list-7 {
		grid-template-columns: 170px 1fr;

		>div {
			&:last-child {
				grid-row: 2/span 1;
				grid-column: 1/-1;
			}
		}
	}

	.list-8 {
		gap: 20px;
	}
}

@media (max-width: 415px) {

	.list-3,
	.list-5,
	.list-6 {
		>div {
			&:nth-child(even) {
				margin-bottom: 10px;
			}
		}
	}

	.list-3 {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 5px 0;
	}

	.list-5,
	.list-6 {
		grid-template-columns: 1fr;
		gap: 5px 0;
	}

	.list-5 {
		>div {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.list-6 {
		>div {
			&:nth-child(3) {
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width: 360px) {

	.list-1,
	.list-2,
	.list-4 {
		gap: 28px 15px;
	}

	.list-7 {
		grid-template-columns: 1fr;

		>div {
			&:last-child {
				grid-row: 3/span 1;
			}
		}
	}

	.list-8 {
		gap: 15px;
	}
}
