.list-1,
.list-2,
.list-3,
.list-4,
.list-5,
.list-6,
.list-7 {
	display: grid;
}

.list-1 {
	grid-template-columns: repeat(4, 1fr);
	gap: 76px 24px;
}

.list-2 {
	grid-template-columns: repeat(4, 1fr);
	gap: 62px 24px;
}

.list-3 {
	grid-template-columns: 65px 1fr;
	gap: 20px 12px;
	align-items: center;

	>div {
		&:last-child {
			grid-column: 1/span 2;
		}
	}
}

.list-4 {
	grid-template-columns: repeat(3, 1fr);
	gap: 50px 24px;
}

.list-5,
.list-6 {
	gap: 8px 16px;
}

.list-5,
.list-7 {
	align-items: center;
}

.list-5 {
	grid-template-columns: 1fr minmax(170px, 1fr) minmax(130px, 1fr) 33.53%;
}

.list-6 {
	grid-template-columns: repeat(3, 1fr) 16.765% 16.765%;
	gap: 8px 16px;
}

.list-7 {
	grid-template-columns: 170px 1fr 286px;
	gap: 16px;
}
