//== COLORS
$cb: #111111 !default;
$c1: #ffffff;
$c2: #000000;
$c3: #F7292F;
$c4: #494949;
$c5: #24A2DF;
$c6: #6F5EEA;
$c7: #F4F4F4;
$c8: #cccccc;

$c9: #22283c;
$c10: #030D28;
$c11: #d9d9d9;
$c12: #12245E;
$c13: #B3B3B3;
$c14: #EEEEEE;
$c15: #A1080F;
$c16: #05163D;
$c17: #FE1212;

//== TYPOGRAPHY
$fb: Montserrat, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 12px !default;
