<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<a href="index.html" class="logo-company"></a>
		</div>
		<div class="header__bl-2">
			<nav class="navigation">
				<ul class="list-style-1">
					<li>
						<a href="javascript:void(0)">Про компанiю</a>
					</li>
					<li>
						<a href="javascript:void(0)">Продукцiя</a>
					</li>
					<li>
						<a href="javascript:void(0)">Сертифiкати</a>
					</li>
					<li>
						<a href="javascript:void(0)">Встановлення</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__bl-3">
			<div class="contacts-wrapper">
				<div>
					<ul class="header__phones phones">
						<li>
							<a href="tel:+380631204020">+38 (063) 120-40-20</a>
						</li>
					</ul>
				</div>
				<div>
					<ul class="header__social social">
						<li>
							<a href="javascript:void(0)"></a>
						</li>
						<li>
							<a href="javascript:void(0)"></a>
						</li>
						<li>
							<a href="javascript:void(0)"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header__bl-4">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
