<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<a href="index.html" class="logo-company">
				<img src="img/logo-company.svg" width="194" height="69" alt=" Tprof Тепло вiкон та дверей">
			</a>
		</div>
		<div class="header__bl-2">
			<nav class="navigation">
				<ul class="list-style-1">
					<li>
						<a href="#about" class="scroll-to-anchor">Про компанiю</a>
					</li>
					<li>
						<a href="#products" class="scroll-to-anchor">Продукцiя</a>
					</li>
					<li>
						<a href="#certificates" class="scroll-to-anchor">Сертифiкати</a>
					</li>
					<li>
						<a href="#order" class="scroll-to-anchor">Встановлення</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__bl-3">
			<div class="contacts-wrapper">
				<div>
					<ul class="header__phones phones">
						<li>
							<a href="tel:+380671220422">067 122 04 22</a>
						</li>
					</ul>
				</div>
				<div>
					<ul class="header__social social">
						<li>
							<a href="javascript:void(0)" class="social__telegram">
								<svg>
									<use href="img/sprite-svg-fill-delete.svg#telegram"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="social__viber">
								<svg>
									<use href="img/sprite-svg-fill-delete.svg#viber"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="social__email">
								<svg>
									<use href="img/sprite-svg-fill-delete.svg#email"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header__bl-4">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
