<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">Tprof Тепло вiкон та дверей</span>
	<img itemprop="image" src="img/logo-company.svg" alt=">Семікс Бетон">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">вул. Кн. Володимира, 112Б</span>
		<span itemprop="addressLocality">Рівне</span>
	</div>
	<span itemprop="telephone">+380671220422</span>
	<span itemprop="email">info@semiks-beton.com.ua</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="Tprof Тепло вiкон та дверей">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="вул. Кн. Володимира, 112Б">
			<meta itemprop="addressLocality" content="Рівне">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-17:00">
		<meta itemprop="telephone" content="+380671220422">
		<meta itemprop="email" content="info@semiks-beton.com.ua">
		<meta itemprop="priceRange" content="UAH">
	</div>
</div>
